{{#each items}}

	{{#compare type 'photo'}}
	<div class="grid-wall--item" data-type="media">
		<a href="#" class="modal-photo-trigger" style="background-image: url(/assets/img/photos/{{image}});" data-media-path="/assets/img/photos/{{image}}">
			<div class="grid-wall--photo">

				{{#if title }}
				<h2 class="grid-wall--title">
					{{{title}}}
				</h2>
				{{/if}}

				{{#if description }}
				<p class="grid-wall--desc">
					{{{description}}}
				</p>
				{{/if}}

			</div>
		</a>
	</div>
	{{/compare}}

	{{#compare type 'video'}}
	<div class="grid-wall--item" data-type="media">
		<a href="#" class="modal-video-trigger" style="background-image: url({{image}});" data-media-path="{{video}}">
			<div class="grid-wall--video">

				{{#if title }}
				<h2 class="grid-wall--title">
					{{{title}}}
				</h2>
				{{/if}}

				{{#if description }}
				<p class="grid-wall--desc">
					{{{description}}}
				</p>
				{{/if}}

			</div>
		</a>
	</div>
	{{/compare}}

	{{#compare type 'tweet'}}
	<div class="grid-wall--item" data-type="tweets">
		<a href="#" class="modal-text-trigger" style="background-image: url({{image}});">
			<div class="grid-wall--tweet">

				{{#if author }}
				<h2 class="grid-wall--title">
					{{{author}}}
				</h2>
				{{/if}}

				{{#if shortDesc }}
				<p class="grid-wall--short-desc">
					{{{shortDesc}}}
				</p>
				{{/if}}

				{{#if description }}
				<p class="grid-wall--desc">
					{{{description}}}
				</p>
				{{/if}}

			</div>
		</a>
	</div>
	{{/compare}}

	{{#compare type 'popstar'}}
	<div class="grid-wall--item" data-type="popstars">
		<a href="#" class="modal-text-trigger" style="background-image: url({{image}});">
			<div class="grid-wall--popstar">

				{{#if title }}
				<h2 class="grid-wall--title">
					{{{title}}}
				</h2>
				{{/if}}

				{{#if shortDesc }}
				<p class="grid-wall--short-desc">
					{{{shortDesc}}}
				</p>
				{{/if}}

				{{#if description }}
				<p class="grid-wall--desc">
					{{{description}}}
				</p>
				{{/if}}

				{{#if author }}
				<p class="grid-wall--author">
					{{{author}}}
				</p>
				{{/if}}

			</div>
		</a>
	</div>
	{{/compare}}

{{/each}}
